---
import NavButton from './NavButton.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<style>
  #theNavbar {
    align-items: stretch;
    display: flex;
  }
</style>

<nav class="border-b-2 h-[7.1%] mb-2  border-black" aria-label="main navigation">
      <div class="py-2 pl-32 flex flex-row gap-2 bg-[#30265f]">
        <NavButton currentPath={currentPath} link="/" text="Home" />
        <NavButton currentPath={currentPath} link="/Projects" text="Projects" />
        <NavButton currentPath={currentPath} link="/Blog" text="Blog" />
        <NavButton currentPath={currentPath} link="/Resume" text="Resume" />
      </div>
      <div class="navbar-end">
          <!-- navbar items -->
      </div>
</nav>